*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #b15a54;
  padding: 30px;
}
.container{
  position: relative;
  max-width: 850px;
  width: 100%;
  background: #fff;
  padding: 40px 30px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  perspective: 2700px;
}
.container .form{
  height: 100%;
  width: 100%;
  background: #fff;
}
.container .form-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-content .login-form,
.form-content .myLogo{
  width: calc(100% / 2 - 20px);
}
.form .form-content .title{
  position: relative;
  font-size: 24px;
  font-weight: 500;
  color: rgb(185, 30, 30);
}
.form .form-content .title:before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 25px;
  background: #e82a2a;
}
.form .form-content .input-boxes{
  margin-top: 30px;
}
.form .form-content .input-box{
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  position: relative;
}
.form-content .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}
.form-content .input-box input:focus,
.form-content .input-box input:valid{
  border-color: #e8372a;
}
.form-content .input-box i{
  position: absolute;
  color: #e82a2a;
  font-size: 17px;
}
.form .form-content .text{
  font-size: 14px;
  font-weight: 500;
  color: rgb(248, 14, 14);
}
.form .form-content .text a{
  text-decoration: none;
}
.form .form-content .text a:hover{
  text-decoration: underline;
}
.form .form-content .button{
  color: #fff;
  margin-top: 40px;
}
.form .form-content .button input{
  color: #fff;
  background: #e82a2a;
  border-radius: 6px;
  padding: 0;
  cursor: pointer;
  transition: all 0.4s ease;
}
.form .form-content .button input:hover{
  background: #a799b9;
}
.form .form-content label{
  color: #ceabab;
  cursor: pointer;
}
.form .form-content label:hover{
  text-decoration: underline;
}
.form .form-content .login-text{
  text-align: center;
  margin-top: 25px;
}

@media (max-width: 730px) {
  .form-content .login-form{
    width: 100%;
  }
}
.myLogo{
    font-size: 30px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("tmt.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.myLogo p{
    margin: 50px;
    padding: 50px;
    color: #f4f2f7;
    text-align: center;
}